
@{
    ViewBag.Title = "Welcome";
}
<div class="container-fluid bg-danger bg-danger" style="color:black;font-family:Cambria;font-size:larger">
    <h2>Welcome</h2>

    <h2 style="font-family:Cambria">Number of Persons:@ViewBag.Tickets</h2>
    <h2 style="font-family:Cambria">TickeType:@ViewBag.Type</h2>
   



    <a href="~/payments/Create" class=" btn btn-danger">Payment</a>


</div>